.span8
	%table.table.table-condensed
		%thead
			%tr
				%th Name
				%th City
				%th State
				%th Phone
				%th Toll Free
				%th Fax
				%th Ins Exp
		%tbody
			- @carriers.each do |carrier|
				%tr{'data-url' => carrier_url(carrier)}
					%td= carrier.name
					%td= carrier.city
					%td= carrier.state
					%td= carrier.phone_number
					%td= carrier.toll_free
					%td= carrier.fax_number
					%td= carrier.insurance_expiry

.span4
	.sidebar{:data => {"pjax-container" => true}}
		.well-header
			= @carrier.name
		.well
			.row-fluid
				.span6
					.field
						%b Unit #
						%br
						= @carrier.unit_number
					.field
						%b City
						%br
						= @carrier.city
					.field
						%b Country
						%br
						= @carrier.country
				.span6
					.field
						%b Address
						%br
						= @carrier.street_address
					.field
						%b State
						%br
						= @carrier.state
					.field
						%b Postal Code
						%br
						= @carrier.postal_code